.article {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "map"
      "filters";
  }

#map{
    width: 100%;
    height:500px;
    grid-area: map;
}

.filters{
    display: grid;
    grid-area: filters;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: 
      "keywords time";
}

.keywords {
    grid-area: keywords;
}

.time {
    grid-area: time;
}

#photodiv{
    background-color: #DC380C;
}

#daguerdiv{
    background-color: #0C71DC;
}

#optidiv{
    background-color: #0CDC2F;
}