.container {  
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "map map controls"
    "map map controls"
    "map map controls"; 
}
  
  #map { 
    grid-area: map;
    width: 100%;
    height: 600px;
 }
  
  #controls {  
    margin-left: 10px;
    margin-right: 10px;
    grid-area:controls;
    grid-template-areas:
      "titrecontrols"
      "global"
      "indi";
    height:600px;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    font-size: medium;
  }

  #titre-controls{
    grid-area:titrecontrols;
  }
  
  #global {  
    grid-template-areas:
      "keywords-1"
      "time";
    grid-area: global;
  }

#num-features{}

  #indi {
    grid-template-areas:
      "keywords"
      "time";
    grid-area: indi;
  }
  
  .keyword-1 { grid-area: keywords-1; }
  
  .time { grid-area: time; }

#checkbox{
  width: fit-content;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

/* Leaflet control panel */

.leaflet-panel-layers {
  padding: 4px;
  background: rgba(255,255,255,0.8);
  box-shadow: -2px 0 8px rgb(0 0 0 / 30%);
}

#panel{
  color: black;
  font-weight: bold;
}


 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 


@media all and (max-width: 1024px)
{
  .container {  
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "map"
      "controls"
  }

  #map { 
    grid-area: map;
    width: 100%;
    height: 450px;
 }
  
  #controls {  
    margin-left: 10px;
    margin-right: 10px;
    grid-area:controls;
    grid-template-areas:
      "titrecontrols"
      "global"
      "indi";
    height:350px;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    font-size: medium;
  }
}


